.logo {
    height: 75px;

}

.project-title {
    font-size: 1.2rem;
    font-weight: 600; 
    color: #002b5c; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


.header.navbar {
    background-color: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); 
    border-bottom: none; 
}

header .logo {
    height: 80px;
    margin-top: 4px;
}

header .project-title {
    margin-top: 8px;
}
.main-content {
    padding-top: 90px; 
    padding-bottom: 70px;
}
.container {
    margin-bottom: 0;
    padding-bottom: 0;
}


@media (max-width: 768px) {
    .project-title {
        font-size: 0.9rem;
        max-width: 200px;
    }
}
.footer {
    background-color: rgba(255, 255, 255, 0.85);
    color: #002b5c;
    height: 55px;
    z-index: 1030;
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px);
    box-shadow: none;
}
.footer-logo {
    height: 55px;
    width: auto;
}
.footer-text {
    font-weight: 600;
    font-size: 1.1rem;
    color: #002b5c; 
}
.footer-info {
    font-size: 0.9rem;
    color: #333333;
    margin-top: 12px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 8px 20px 0 20px;
}
.footer-text {
    font-weight: 600;
    font-size: 1.05rem;
    color: #002b5c;
    margin-top: 8px; 
}
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        height: 50px;
        width: auto;
        margin-top: 3px;
    }
    .footer-text,
    .footer-info {
        margin-top: 2px;
    }
}


