@page "/"

<div class="map-container">

    <img src="/images/back_text.png" alt="background" class="background-img" />
 
        

        <a href="https://www.somorrostro.com" class="partner-link somorrostro" target="_blank" title="Somorrostro"></a>
    <a href="https://www.rak.ee/et" class="partner-link rakvere" target="_blank" title="Rakvere Ametikool"></a>
    <a href="http://www.samuilisopescu.ro" class="partner-link suceava" target="_blank" title="Suceava"></a>
        <a href="https://www.mercantec.dk" class="partner-link mercantec" target="_blank" title="Mercantec"></a>
        <a href="https://www.noorderpoort.nl" class="partner-link noorderpoort" target="_blank" title="Noorderpoort"></a>
    <a href="https://www.studentpulse.io/" class="partner-link studentpulse" target="_blank" title="Studentpulse"></a>
    <a href="https://www.xarxafp.org/" class="partner-link XARXA" target="_blank" title="XARXA"></a>


</div>

