@page "/reports"
<h3>Reports</h3>

<h3>Download files in .pdf</h3>

<div class="download-list">
    <p>Erasmus+ WP2-report:</p>
    <a href="files/Erasmus+ WP2-report_ Foundational Analysis of Diversity and Inclusion among VET School Students - March 2024.pdf" target="_blank"> Open in browser </a>
    <br />
    <a href="files/Erasmus+ WP2-report_ Foundational Analysis of Diversity and Inclusion among VET School Students - March 2024.pdf" download> Download </a>
</div>
